/* 
  Para todos los dispositivos
*/
@media (max-width: 1024px) {
  html, body {
      width: 100vw;
  }

  .region-header {
      display:none;
  }
  #logo{
      position:relative;        
      margin:0  !important;
      left: 50%;
      transform: translate(-50%);
  }
  .bloqueshomepage {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .bloqueshomepage > div {
    width: 80% !important;      
    height: 250px !important;
    margin: 10px 0px !important;      
  }
  .bloqueshomepage > div > p{
    font-size: 4em !important;            
  }
  .bloqueshomepage > div > ul{
    display:none;
  }    
  #bloque03_fondo{
    width: 100% !important;      
    background-position: bottom right !important;
  }

  #main-menu{
    display:none;
  }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

}