/* 
  Para todos los dispositivos
*/
.body {
    box-sizing: border-box;
}

#busqueda {
    display: none;
}

#redes {
    display: none;
}

#login {
    display: none;
}

@media (max-width: 1024px) {

    html,
    body {
        width: 100vw;
    }

    #logo {
        position: relative;
        margin: 0;
        left: 50%;
        transform: translate(-50%);
    }

    .bloqueshomepage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: central;
    }

    /*.bloqueshomepage > div {
width: 80% !important;      
height: 37.5rem !important;
margin: 10px 0px !important;      
}*/
    .bloqueshomepage>div>p {
        font-size: 4em;
    }

    #bloque03_fondo {
        width: 100%;
        background-position: bottom right;
    }

    .homepage_menu_guao_bloque1 {
        display: none;
    }

    .homepage_menu_guao {
        display: none;
    }

}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (min-height: 479px) and (orientation: portrait) {
    .bloqueshomepage>div {
        width: 80%;
        height: 37.5rem;
        margin: 1.5rem 0px;
        padding: 2rem 4rem 4rem 4rem;
    }

    .bloqueshomepage>div>ul>li:before {
        left: -0.5rem;
        top: 2rem;
    }

    .bloqueshomepage>div>p {
        font-size: 6rem;
    }

    .bloqueshomepage>div>ul {
        width: 30rem;
        font-size: 2em;
    }

    #bloque03_fondo {
        display: none;
    }

    #bloque01 {
        background-size: 30rem;
    }

    #bloque02 {
        background-size: 30rem;
    }

    #bloque03 {
        background-image: url(/sites/default/files/home_otros.png);
        background-repeat: no-repeat;
        background-position: 34rem 11rem;
        background-size: 30rem;
    }

    /* MENÚ HAMBURGER */

    #logo {
        position: relative;
        left: 20%;
        top: 0.45rem;
    }

    #logo>img {
        width: 15rem;
        height: auto;
    }

    #header {
        border-bottom: 1px outset black;
        height: 43rem;
        min-height: 7.5rem;
        max-height: 0;
        outline: none;
        overflow: hidden;
        transition: max-height .6s ease-out;
    }

    #hamburger1 {
        position: absolute;
        left: -28rem;
        top: 4%;
        width: 50px;
        height: 8px;
        background-color: black;
        margin: 6px 30rem;
        transition: .4s;
        background-color: green;
    }

    #hamburger2 {
        position: absolute;
        left: -28rem;
        top: 4%;
        width: 50px;
        height: 8px;
        background-color: black;
        margin: 20px 30rem;
        transition: .4s;
        background-color: blue;
    }

    #hamburger3 {
        position: absolute;
        left: -28rem;
        top: 4%;
        width: 50px;
        height: 8px;
        background-color: black;
        margin: 34px 30rem;
        transition: .4s;
        background-color: purple;
    }


    .change #hamburger1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-13px, 6px);
    }

    .change #hamburger2 {
        opacity: 0;
    }

    .change #hamburger3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-13px, -8px);
    }

    /* MENÚ TU AULA / BIBLIOTECA ... */

    #main-menu-links li {
        font-weight: bold;
        font-size: 1.5rem;
        width: 100%;
    }

    /* MENÚ SECUNDARIO NOSOTROS , CONTACTOS ... */

    #block-menu-menu-men-secundario {
        position: relative;
        top: 31rem;
        margin-left: 4rem;
        width: 110%
    }

    #block-menu-menu-men-secundario>div.content>ul>li>a {
        font-size: 1.8rem;
        border-left: 6px solid red;
        color: black;
    }

    /* BÚSQUEDA  */

    #block-search-form {
        transform: scaleX(0);
        position: relative;
        right: 30rem;
        width: 40rem !important;
        overflow: visible;
        transition: transform 0.3s ease-out;
        height: auto;
        transform-origin: right;

    }

    #block-search-form>element.style {}

    #busqueda {
        display: block !important;
        position: absolute;
        top: 1.6rem;
        left: 64.5rem;
        z-index: 1;
        -webkit-transition: -webkit-transform .5s ease-in-out;
        -ms-transition: -ms-transform .5s ease-in-out;
        transition: transform .5s ease-in-out, opacity .5s;
    }




    #block-search-form>div>form>div>div>div.form-item.form-type-textfield.form-item-search-block-form>input {
        width: 35rem !important;
    }

    #search-form input#edit-keys,
    #block-search-form .form-item-search-block-form input {
        font-size: 1.5rem;
    }


    #block-search-form>div>form>div>div>div.form-actions.form-wrapper>input {
        height: 2.45rem;
        background-size: 2rem;
    }

    #busquedaX {
        position: absolute;
        left: -28rem;
        top: 4%;
        width: 50px;
        height: 8px;
        background-color: black;
        margin: 16px 29rem;
        transition: .4s;
        opacity: 0;
    }

    #busquedaX1 {
        position: absolute;
        left: -28rem;
        top: 4%;
        width: 50px;
        height: 8px;
        background-color: black;
        margin: 44px 29rem;
        transition: .4s;
        opacity: 0;

    }

    .changeb #busquedaX {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-13px, 6px);
        transition-delay: .2s;
        opacity: 1;
    }

    .changeb #busquedaX1 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-13px, -8px);
        transition-delay: .2s;
        opacity: 1;
    }

    .changeb #busqueda>img {
        opacity: 0 !important;
    }

    .changeb #block-search-form {
        transform: scaleX(1);
    }

    /* INICIAR SESIÓN */

    #block-system-user-menu {
        position: relative;
        display: none;


    }

    #block-system-user-menu>div.content {

        position: absolute;
        left: 4rem;
        background-color: #f1f1f1;
        min-width: 1rem;
        overflow: hidden;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    #block-system-user-menu>div.content>ul>li.first>a {
        background-image: none;
    }


    #block-system-user-menu>div.content>ul>li.last>a {}

    #block-system-user-menu>div.content>ul>li>a {
        color: black;
        padding: .5rem 2rem;
        text-decoration: none;
        display: block;
        font-size: 1rem;
    }

    #login {
        display: block !important;
        position: relative;
        /*  top: .8rem;
        left: 15rem;*/
        bottom: 32.9rem;
        left: 71rem;
    }

    #login>img {
        width: 2rem;
    }

    .show #block-system-user-menu { 
        display: inline-block !important;
    }

    /* REDES SOCIALES SE QUITO DEL HEADER Y SE COLOCO
   EN EL FOOTER */

    .rteright {
        display: none;
    }

    #redes {
        display: block;
        position: relative;
        text-align: center;
    }

    #redes>a {
        margin: 1rem;
        width: 3rem;
    }

    #redes>a>img {
        width: 3rem;
    }

    #redesmensaje {
        display: none;
    }

    #terminos {
        font-size: 2rem;
        text-align: center;
    }

    #footer {
        margin-top: 0;
    }

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (min-height: 479px) {
    .bloqueshomepage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .bloqueshomepage>div {
        width: 30%;
        height: 22rem;
        margin-left: .5rem;
        padding: 1rem 5rem 1rem 2rem;
        margin-bottom: 0;
    }

    .bloqueshomepage>div>p {
        font-size: 2rem;
    }

    .bloqueshomepage>div>ul {
        width: 15rem;
        font-size: 1em;
    }

    .bloqueshomepage>div>ul>li:before {
        left: -0.5rem;
        top: 1em;
    }

    #bloque01 {
        background-size: 13rem;
        ;
    }

    #bloque02 {
        background-size: 13rem;
    }

    #bloque03_fondo {
        padding-right: 5rem;
        background-position: 9.8rem 5.5rem;
    }

    .bloqueshomepage>div>ul>li>a {
        color: white;
        padding-left: 0.5rem
    }

    #terminos {
        font-size: 1.3em;
        text-align: center;
    }




}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .bloqueshomepage>div {
        width: 80%;
        height: 39rem;
        margin: 1.5rem 0px;
        padding: 2rem 4rem 4rem 4rem;
    }

    .bloqueshomepage>div>ul>li:before {
        left: -0.5rem;
        top: 2rem;
    }

    .bloqueshomepage {
        margin: 5rem 0 0 0;
        padding: 0 0 0 0;
    }

    .bloqueshomepage>div>p {
        font-size: 6rem;
    }

    .bloqueshomepage>div>ul {
        width: 30rem;
        font-size: 2em;
    }

    #bloque03_fondo {
        display: none;
    }

    #bloque01 {
        background-size: 30rem;
    }

    #bloque02 {
        background-size: 30rem;
    }

    #bloque03 {
        background-image: url(/sites/default/files/home_otros.png);
        background-repeat: no-repeat;
        background-position: 40rem 12rem;
        background-size: 30rem;
    }

    /* Cambios de German */

    /* MENÚ HAMBURGER */
    #header {
        border-bottom: 1px outset black;
        height: 47rem;
        min-height: 8rem;
        /*max-height: 50rem;*/
        max-height: 0;
        outline: none;
        overflow: hidden;
        transition: max-height 0.6s ease-out;
    }

    #hamburger1 {
        position: absolute;
        left: -28rem;
        top: 5%;
        width: 50px;
        height: 8px;
        background-color: black;
        margin: 6px 30rem;
        transition: .4s;
        background-color: green;
    }

    #hamburger2 {
        position: absolute;
        left: -28rem;
        top: 5%;
        width: 50px;
        height: 8px;
        background-color: black;
        margin: 20px 30rem;
        transition: .4s;
        background-color: blue;
    }

    #hamburger3 {
        position: absolute;
        left: -28rem;
        top: 5%;
        width: 50px;
        height: 8px;
        background-color: black;
        margin: 34px 30rem;
        transition: .4s;
        background-color: purple;
    }


    .change #hamburger1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-13px, 6px);
    }

    .change #hamburger2 {
        opacity: 0;
    }

    .change #hamburger3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-13px, -8px);
    }


    /* MENÚ TU AULA / BIBLIOTECA ... */

    #main-menu-links li {
        font-weight: bold;
        font-size: 1.5rem;
        width: 100%;
    }

    /* INICIAR SESIÓN */

    #block-system-user-menu {
        position: relative;
        display: none;


    }

    #block-system-user-menu>div.content {

        position: absolute;
        left: 4rem;
        top: -1rem;
        background-color: #f1f1f1;
        min-width: 1rem;
        overflow: hidden;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    #block-system-user-menu>div.content>ul>li.first>a {
        background-image: none;
    }


    #block-system-user-menu>div.content>ul>li.last>a {}

    #block-system-user-menu>div.content>ul>li>a {
        color: black;
        padding: .5rem 2rem;
        text-decoration: none;
        display: block;
        font-size: 1rem;
    }

    #login {
        display: block !important;
        position: relative;
        /*  top: .8rem;
        left: 15rem;*/
        bottom: 33.9rem;
        left: 71rem;
    }

    #login>img {
        width: 2rem;
    }

    .show #block-system-user-menu { 
        display: inline-block !important;
    }

    /* BÚSQUEDA  */

    .block.block-search {
        position: relative;
        top: 34rem !important;
        right: 33rem !important;
    }

    #block-search-form {
        width: 300rem !important;
        margin-left: 52% !important;
        margin-top: -105px !important;
        transform: scaleX(1) !important;
    }

    #block-search-form>div>form>div>div>div.form-item.form-type-textfield.form-item-search-block-form>input {
        width: 58rem !important;
    }

    #search-form input#edit-keys,
    #block-search-form .form-item-search-block-form input {
        font-size: 2rem;
    }


    #block-search-form>div>form>div>div>div.form-actions.form-wrapper>input {
        height: 3.05rem;
        background-size: 2.2rem;
        padding-right: 3rem;
    }

    #busqueda {
        display: none;
    }

    /* MENÚ SECUNDARIO NOSOTROS , CONTACTOS ... */

    #block-menu-menu-men-secundario {
        position: relative;
        top: 35.5rem;
        margin-left: 5rem;
        width: 100%
    }

    #block-menu-menu-men-secundario>div.content>ul>li>a {
        font-size: 1.7rem;
        border-left: 6px solid red;
        color: black;
    }



    /* REDES SOCIALES SE QUITO DEL HEADER Y SE COLOCO
   EN EL FOOTER */

    .rteright {
        display: none;
    }

    #redes {
        display: block;
        position: relative;
        text-align: center;
    }

    #redes>a {
        margin: 1rem;
        width: 3rem;
    }

    #redes>a>img {
        width: 3rem;
    }

    #redesmensaje {
        display: none;
    }

    #terminos {
        font-size: 2rem;
        text-align: center;
    }

    #footer {
        margin-top: 0;
    }



    /* SIDEBARS */

    #sidebar-first {
        display: none;
        font-size: 1.5rem;
      /*  height: 100%;
        position: fixed;
        z-index: 1;
        width: 100%;

        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;*/
    }

/*
    .side {
        border: solid black;
        border-width: 0px .3rem .3rem 0;
        display: inline-block;
        padding: .6rem;
        transform: rotate(-45deg);
        transition: 0.5s;
    }*/

    .page-biblioteca #sidebar-first {
        
    }

    .page-biblioteca {
        font-size: 3rem;
        text-align: center;

    }

    .page-biblioteca .views-row {
        margin-left: 5rem;
    }


    .page-biblioteca #page-title {
        text-align: center;
    }

    .page-biblioteca>img {
        width: 4em;

    }
    
    


}

/*Smartphones LANDSCAPE*/

@media (max-height:479px) and (orientation: landscape) {

    .bloqueshomepage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .bloqueshomepage>div {
        width: 35%;
        height: 18rem;
        margin: 1.5rem 1.5rem 1.5rem 1.5rem;
        padding: 2rem 2rem 2rem 2rem;
    }

    .bloqueshomepage>div>p {
        font-size: 2rem;
    }

    #bloque03_fondo {
        width: 100%;
        background-position: 9rem 6rem;
    }

    #logo {
        position: relative;
        left: 20%;
        top: 0.45rem;
    }

    #logo>img {
        width: 15rem;
        height: auto;
    }


    #header {
        border-bottom: 1px outset black;
        height: 35rem;
        min-height: 8rem;
        max-height: 0;
        outline: none;
        overflow: hidden;
        transition: max-height 0.6s ease-out;
    }

    #hamburger1 {
        position: absolute;
        left: -28rem;
        top: 10%;
        width: 45px;
        height: 7px;
        background-color: green;
        margin: 6px 30rem;
        transition: 0.4s;

    }

    #hamburger2 {
        position: absolute;
        left: -28rem;
        top: 10%;
        width: 45px;
        height: 7px;
        background-color: blue;
        margin: 20px 30rem;
        transition: 0.4s;
    }

    #hamburger3 {
        position: absolute;
        left: -28rem;
        top: 10%;
        width: 45px;
        height: 7px;
        background-color: purple;
        margin: 34px 30rem;
        transition: 0.4s;
    }


    .change #hamburger1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-13px, 6px);
    }

    .change #hamburger2 {
        opacity: 0;
    }

    .change #hamburger3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-13px, -8px);
    }

    /* MENU PRIMARIO TU AULA, BIBLIOTECA... */

    #main-menu-links {
        position: relative;
        top: 2rem;
    }

    #main-menu-links li {
        font-weight: bold;
        font-size: 1rem;
        width: 100%;
    }



    /* MENÚ SECUNDARIO NOSOTROS , CONTACTOS ... */

    #block-menu-menu-men-secundario {
        position: relative;
        top: 24.7rem;
        margin-left: 14rem;
        width: 100%
    }

    #block-menu-menu-men-secundario>div.content>ul>li>a {
        font-size: 1.2rem;
        border-left: 6px solid red;
        color: black;
    }


    /* FOOTER Y REDES SOCIALES */

    .rteright {
        /*  position: relative;
       top: 32rem;
       right: 31rem;
       width: 22rem;*/
        display: none;
    }

    /*  .rteright > a > img{
    width: 3rem !important;
    height: auto !important;
    }*/


    #redes {
        display: block;
        position: relative;
        text-align: center;
    }

    #redes>a {
        margin: 1rem;
        width: 3rem;
    }

    #redes>a>img {
        width: 2.5em;
    }

    #redesmensaje {
        display: none;
    }

    #terminos {
        font-size: 1.5em;
        text-align: center;
    }

    #footer {
        margin-top: 0;
    }


    /* BÚSQUEDA  */

    #block-search-form {
        transform: scaleX(0);
        position: relative;
        right: 30rem;
        width: 40rem !important;
        overflow: visible;
        transition: transform 0.3s ease-out;
        height: auto;

        transform-origin: right;

    }

    #block-search-form>element.style {
        transform: scaleX(0) !important;
    }

    #busqueda {
        display: block !important;
        position: absolute;
        top: 2rem;
        left: 64.5rem;
        z-index: 1;
        -webkit-transition: -webkit-transform .5s ease-in-out;
        -ms-transition: -ms-transform .5s ease-in-out;
        transition: transform .5s ease-in-out;
    }



    #block-search-form>div>form>div>div>div.form-item.form-type-textfield.form-item-search-block-form>input {
        width: 35rem !important;
    }

    #search-form input#edit-keys,
    #block-search-form .form-item-search-block-form input {
        font-size: 1.5rem;
    }


    #block-search-form>div>form>div>div>div.form-actions.form-wrapper>input {
        height: 2.45rem;
        background-size: 2rem;
    }


    #busquedaX {
        position: absolute;
        left: -28rem;
        top: 4%;
        width: 50px;
        height: 8px;
        background-color: black;
        margin: 16px 29rem;
        transition: .4s;
        opacity: 0;
    }

    #busquedaX1 {
        position: absolute;
        left: -28rem;
        top: 4%;
        width: 50px;
        height: 8px;
        background-color: black;
        margin: 44px 29rem;
        transition: .4s;
        opacity: 0;

    }

    .changeb #busquedaX {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-13px, 6px);
        transition-delay: .2s;
        opacity: 1;
    }

    .changeb #busquedaX1 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-13px, -8px);
        transition-delay: .2s;
        opacity: 1;
    }

    .changeb #busqueda>img {
        opacity: 0 !important;
    }

    .changeb #block-search-form {
        transform: scaleX(1);
    }

    /* INICIAR SESIÓN */

    #block-system-user-menu {
        position: relative;
        display: none;


    }

    #block-system-user-menu>div.content {

        position: absolute;
        left: 4rem;
        background-color: #f1f1f1;
        min-width: 1rem;
        overflow: hidden;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    #block-system-user-menu>div.content>ul>li.first>a {
        background-image: none;
    }


    #block-system-user-menu>div.content>ul>li.last>a {}

    #block-system-user-menu>div.content>ul>li>a {
        color: black;
        padding: .5rem 2rem;
        text-decoration: none;
        display: block;
        font-size: 1rem;
    }

    #login {
        display: block !important;
        position: relative;
        /*  top: .8rem;
        left: 15rem;*/
        bottom: 25.3rem;
        left: 71rem;
    }

    #login>img {
        width: 2rem;
    }

    .show #block-system-user-menu { 
        display: inline-block !important;
    }    
    
}