/* 
  Para todos los dispositivos
*/
.body {
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  html,
  body {
    width: 100vw;
  }

  .region-header {
   /* display: none;*/
  }

  #logo {
    position: relative;
    margin: 0 !important;
    left: 50%;
    transform: translate(-50%);
  }

  .bloqueshomepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: central;
  }

  /*.bloqueshomepage > div {
width: 80% !important;      
height: 37.5rem !important;
margin: 10px 0px !important;      
}*/
  .bloqueshomepage > div > p {
    font-size: 4em;
  }

  .bloqueshomepage > div > ul {
    /*display:none;*/
  }

  #bloque03_fondo {
    width: 100% !important;
    background-position: bottom right !important;
  }

    #main-menu {
   /* display: none;*/
}

  .homepage_menu_guao_bloque1 {
    display: none;
  }

  .homepage_menu_guao {
    display: none;
  }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .bloqueshomepage > div {
    width: 80% !important;
    height: 37.5rem !important;
    margin: 10px 0px !important;
  }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .bloqueshomepage > div {
    width: 80%;
    height: 39rem;
    margin: 1.5rem 0px;
    padding: 2rem 4rem 4rem 4rem;
  }

  .bloqueshomepage > div > ul > li:before {
    left: -0.5rem;
    top: 2rem;
  }

  .bloqueshomepage {
    margin: 5rem 0 0 0;
    padding: 0 0 0 0;
  }

  .bloqueshomepage > div > p {
    font-size: 6rem;
  }
  .bloqueshomepage > div > ul {
    width: 30rem;
  }

  .bloqueshomepage > div > ul {
    font-size: 2em;
    /* display: none;*/
  }

  #bloque03_fondo {
    display: none;
  }
  #bloque01 {
    background-size: 30rem;
  }
  #bloque02 {
    background-size: 30rem;
  }

  #bloque03 {
    background-image: url(/sites/default/files/home_otros.png);
    background-repeat: no-repeat;
    background-position: 40rem 12rem;
    background-size: 30rem;
  }

  /* Cambios de German */

 /* MENÚ HAMBURGER */
   #header {
    border-bottom: 1px outset black;
    height: 47rem;
    min-height: 8rem;
   /*max-height: 50rem;*/
    max-height: 0;
    outline: none;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
   }
   
   #hamburger1 {
     position: absolute;
     left: -28rem;
     top: 5%;
     width: 50px;
     height: 8px;
     background-color: black;
     margin: 6px 30rem;
   }

  #hamburger2 {
   position: absolute;
     left: -28rem;
     top: 5%;
     width: 50px;
     height: 8px;
     background-color: black;
     margin: 20px 30rem;
  }
  
  #hamburger3 {
     position: absolute;
     left: -28rem;
     top: 5%;
     width: 50px;
     height: 8px;
     background-color: black;
     margin: 34px 30rem;
   }
  
   
/* MENÚ TU AULA / BIBLIOTECA ... */

  #main-menu-links li {
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
  }
  

/*
  #main-menu-links {
    max-height: 0;
    position: relative;
    outline: none;
    overflow: hidden;
    transition: max-height 1s ease-out;
  }*/
  
  
  /* INICIAR SESIÓN */
  
  #block-system-user-menu {
   margin-left: 71rem!important;
  }
  
   #block-system-user-menu > div.content > ul > li.first > a {
   background-size: 2rem;
   padding-left: 48px!important;
}

  #block-system-user-menu > div.content > ul > li > a {
      display: table-caption;
      font-size: 1px;
      color: white;
  }

  #block-system-user-menu > div.content > ul > li.last {
    display: none;
}

  /* BÚSQUEDA  */
  
  .block.block-search {
     position: relative;
     top: 34rem !important;
     right: 33rem !important;
     
  } 
  
  #block-search-form {
    width: 300rem !important;
    margin-left: 52%!important;
      margin-top: -105px!important;
  }
    
  #block-search-form > div > form > div > div > div.form-item.form-type-textfield.form-item-search-block-form > input {
    width: 58rem !important;
}

  #search-form input#edit-keys, #block-search-form .form-item-search-block-form input {
      font-size: 2rem;
  }

  
 #block-search-form > div > form > div > div > div.form-actions.form-wrapper > input {
    height: 3.05rem;
    background-size: 2.2rem;
    padding-right: 3rem;
}
  
 /* MENÚ SECUNDARIO NOSOTROS , CONTACTOS ... */
 
  #block-menu-menu-men-secundario {
     position: relative;
     top: 35.5rem;
     margin-left: 5rem;
     width: 100%
    
  }
  
  #block-menu-menu-men-secundario > div.content > ul > li > a {
       font-size: 1.7rem;
       border-left: 6px solid red;
       color: black;
}



/* REDES SOCIALES SE QUITO DEL HEADER Y SE COLOCO
   EN EL FOOTER */

  .rteright {
        display: none;
    }

  #redes {
    position: relative;
      margin-left: 42rem;
      top: -1rem;
  }
  
  #redes > a {
    margin: 1rem;
  }


}



@media (max-height:500px){
    
        .bloqueshomepage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
        margin-right: 10rem;
    }
        .bloqueshomepage>div {
        width: 35%;
        height: 18rem;
        margin: 1.5rem 1.5rem 1.5rem 1.5rem;
        padding: 2rem 2rem 2rem 2rem;
    }
    
        .bloqueshomepage>div>p {
        font-size: 2rem;
    }
    
}